body {
	padding: 2%;
	font: 16px sans-serif;
}
a {
	color: #222;
	text-decoration: none;
}
div {
	border: 1px solid #333;
	width:235px;
	height: 120px;
	min-width: 1px;
	background: red;
	position: absolute;
	top:150px;
}
